 <table border="1" width="100%" cellpadding="5">
        <tr><td>Код валюты</td><td>Покупка</td><td>Продажа</td></tr>
        <tr><td>USD</td><td><?=$BuyUSD?></td><td><?=$SellUSD?></td></tr>
        <tr><td>EUR</td><td><?=$BuyEUR?></td><td><?=$SellEUR?></td></tr>
        <tr><td>RUR</td><td><?=$BuyRUR?></td><td><?=$SellRUR?></td></tr>
        <tr><td>BTC</td><td><?=$BuyBTC?></td><td><?=$SellBTC?></td></tr>
 </table>